<head>
    <meta charset="utf-8">
    <title>IMD Points</title>
    <link rel="stylesheet" type="text/css" href="resources/stylesheet.css">
  </head>

<h1>IMD Points</h1>

<table cellpadding="10">
<tr><th>Rank</th><th>Athlete</th><th>Birth Year</th><th>Club</th><th>Points</th><th>SL</th><th>GS</th><th>SG</th></tr>
{{range .AllPoints}}
<tr {{if eq .Athlete $.FocusAthlete}}class="focusRow"{{else if eq .Club "PCSS"}}class="highlightRow"{{end}}><td align="right">{{.OverallRank}}</td><td><a href="athletePage?name={{.Athlete}}">{{.Athlete}}</a></td><td>{{.BirthYear}}</td><td>{{.Club}}</td><td align="right">{{.OverallPoints}}</td><td align="right">{{.SLPointTotal}}</td><td align="right">{{.GSPointTotal}}</td><td align="right">{{.SGPointTotal}}</td>
</tr>
{{end}}
</table>
