<head>
    <meta charset="utf-8">
    <title>IMD Race List</title>
    <link rel="stylesheet" type="text/css" href="resources/stylesheet.css">
</head>

<h1>IMD Race List</h1>

<table cellpadding="10">
  <tr><th>Date</th><th>Race</th><th>Discipline</th><th>Qualifier</th></tr>
  {{range .RaceResults}}
  <tr {{if .Definition.Qualifier}}class="highlightRow"{{end}}><td>{{.RaceDate}}</td><td><a href="race?raceId={{.Definition.RaceId}}">{{.RaceName}}</a></td><td>{{.RaceType}}</td><td>{{if .Definition.Qualifier}}Yes{{else}}No{{end}}</td></tr>
  {{end}}
  </table>
