table, th, td {
   border: 1px solid black;
}

.focusRow {
    background-color: LightGreen !important;
}

.highlightRow { 
    background-color: LightBlue !important;
}

tr:nth-child(even) {background-color: #f2f2f2};

